/* Overrides for bootstrap */
html, body {
    background-color: #E6DCBF;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway',Roboto,arial,sans-serif;
    margin-bottom: 1rem;
    padding-top: 1rem;
}
h1 { font-size: 3.6rem; }
h2 { font-size: 2.8rem; }
button:hover {
    cursor: pointer;
}
.btn {
    border: solid;
    border-width: 0 0 3px 0;
    transition: none;
}
.btn:hover {
    border-width: 2px 0 1px 0;
}
.btn-primary {
    background-color: #b94000;
    border-color: #992000;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #a93000;
    border-color: #891000;
}
.btn-secondary {
    border-color: #646464;
}
.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #545454;
}

/* layout */
.content-wrapper {
    background: #E6DCBF linear-gradient(#E6DCBF,#F0F0F0);
    padding-bottom: 4rem;
}
.splash-page {
    display: table;
    margin-top: 1.5rem;
    height: 100%;
    min-height: 100%;
    width: 100%;
}
.splash-page-inner{
    display: table-cell;
    vertical-align: middle;
}

.cover-container, .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.cover-container {
    text-align: center;
}
.hidden {
    display: none;
    -webkit-transition: display, 0.3s;
    transition: display, 0.3s;
}

/* masthead and main nav */
.masthead {
    background-color: rgba(230, 220, 191, 0.1);
    margin-bottom: 2rem;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-transition: background-color, 0.15s;
    transition: background-color, 0.15s;
}
.masthead .inner {
    max-width: 960px;
    margin: 0 auto;
}
.masthead-brand a {
    color: #fff;
    text-decoration: none;
}
.masthead-nav {
}
.masthead-nav a {
    color: #fff;
    font-family: 'Raleway',Roboto,arial,sans-serif;
    text-transform: uppercase;
}
.masthead.masthead-visible {
    background-color: #b94000;
}
.masthead h3 {
    padding-top: 0;
}
.navbar {
    padding: 0;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.2em;
}
.navbar-toggler {
    color: #fff;
}
.navbar-toggler:focus {
    outline: none;
}
.masthead a.nav-link:hover {
    background-color: #d6cCaF;
}
.masthead.masthead-visible a.nav-link:hover {
    background-color: #a93000;
}

/* cover page */
.display-1 {
    font-weight: 200;
}
.cover-container h4 {
    margin-bottom: 1.5rem;
    padding: 0 2rem;
}
.cover-img {
    background: #000 url('/img/brain-montage-horizontal.png') center center no-repeat;
    background-size: 600px;
    border-radius: 0;
    color: #fff;
}

/* body content */
.content-wrapper .container {
    padding: 0;
}
.content-wrapper .container > .row {
    background-color: #fff;
    margin: 2px 0;
    padding: 6rem 2rem;
}
.tab-pane {
    padding: 2em 0;
}
.nav-tabs {
    padding: 2em 0 0;
}
dl.publication,
dl.faq {
    margin-left: 48px;
}
dl.publication:before,
dl.faq:before{
    color: #a8a8a8;
    content: '\f02d';
    float: left;
    font-family: FontAwesome;
    font-size: 1.5rem;
    margin-left: -36px;
}
dl.faq:before{
    content: '\f059';
}

.content-wrapper ol,
.content-wrapper ul {
    padding-left: 2rem;
}

.content-wrapper ol > li,
.content-wrapper ul > li {
    margin-bottom: 1rem;
}
.content-wrapper li > ol,
.content-wrapper li > ul {

    margin-top: 1rem;
}
.card h5 {
    font-weight: bold;
    padding-top: 0;
}

/* modal form */
.form-group-db {
    display: none;
    visibility: hidden;
}
.modal-header {
    background-color: #b94000;
}
.modal-header h5 {
    color: #fff;
    font-size: 0.875rem;
    font-weight: normal;
    padding-top: 0;
}
.modal-header .close {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 200;
}
.modal-body {
    padding: 15px 30px;
}

.form-group,
.form-check,
.modal .clearfix {
    margin-bottom: 1.5rem;
}
.form-group label {
    font-weight: 700;
    margin-right: 5%;
    vertical-align: top;
    width: 35%;
}
.form-group input,
.form-group textarea {
    width: 55%;
}
.form-group small {
    margin-left: 41%;
}
.form-check label {
    display: block;
    padding-left: 0;
}
.form-check input[type=text]{
    margin-top: 4px;
    width: 94%;
}
.form-check.pull-right {
    width: 59%;
}

.invalid,
.form-group.invalid small {
    border-color: #f99;
    color: #c66;
}
.was-validated input:invalid,
.was-validated textarea:invalid {
    border-color: #c66;
}

.grecaptcha-badge {
    display:none !important;
}

/* footer */
.footer-wrapper {
    background-color: #484848;
    color: #848484;
    padding: 2em;
}
.footer-wrapper a {
    color: #fff;
}
.footer-wrapper a:hover,
.footer-wrapper a:active {
    color: #f3f3f3;
}
.logo-container-row {
    display: table-row;
}
.logo-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 15px;
}
.logo-container img {
    max-width: 100%;
    opacity: 0.8;
}

/* responsive breakpoints */
@media screen and (max-width: 900px) {
    .jumbotron {
        border-radius: 0;
    }
    .display-1 {
        font-size: 5rem;
        font-weight: 300;
    }
}
@media screen and (max-width: 640px){
    .display-1 {
        font-size: 4rem;
    }

    /* hide tab switcher on small screens */
    .nav-tabs {
        display: none;
    }
    .tab-content > .tab-pane {
        display: block;
    }
    .tab-content .fade {
        opacity: 1 !important;
    }
    .card + .card {
        margin-top: 1rem;
    }
}